@import "./body";
@import "./header"; 
@import "./titulo";
@import "./footer";

$colorTexto: black;

footer{
    @extend header
}
.redes{
    border-style: double;
    color: black;
    font-size: 2rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    background-color: rgb(239, 239, 131);
    text-align: end;
}
.footer{
    @extend .redes; 
    background-color: rgb(149, 149, 86);
}

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}
.div{
    @include sizes(500px, 50px);
}
